<div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart">
    <div class="offcanvas-header justify-content-center">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Growers cider</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Fresh grapes</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Heinz tomato ketchup</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
      </div>
    </div>
  </div>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">

    <div class="offcanvas-header justify-content-between">
      <h4 class="fw-normal text-uppercase fs-6">Menu</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
  
      <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
        <li class="nav-item border-dashed active">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#fruits"></use></svg>
            <span>Fruits and vegetables</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#dairy"></use></svg>
            <span>Dairy and Eggs</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#meat"></use></svg>
            <span>Meat and Poultry</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#seafood"></use></svg>
            <span>Seafood</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#bakery"></use></svg>
            <span>Bakery and Bread</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#canned"></use></svg>
            <span>Canned Goods</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#frozen"></use></svg>
            <span>Frozen Foods</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pasta"></use></svg>
            <span>Pasta and Rice</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#breakfast"></use></svg>
            <span>Breakfast Foods</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#snacks"></use></svg>
            <span>Snacks and Chips</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <button class="btn btn-toggle dropdown-toggle position-relative w-100 d-flex justify-content-between align-items-center text-dark p-2" data-bs-toggle="collapse" data-bs-target="#beverages-collapse" aria-expanded="false">
            <div class="d-flex gap-3">
              <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#beverages"></use></svg>
              <span>Beverages</span>
            </div>
          </button>
          <div class="collapse" id="beverages-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal ps-5 pb-1">
              <li class="border-bottom py-2"><a href="index.html" class="dropdown-item">Water</a></li>
              <li class="border-bottom py-2"><a href="index.html" class="dropdown-item">Juice</a></li>
              <li class="border-bottom py-2"><a href="index.html" class="dropdown-item">Soda</a></li>
              <li class="border-bottom py-2"><a href="index.html" class="dropdown-item">Tea</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#spices"></use></svg>
            <span>Spices and Seasonings</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#baby"></use></svg>
            <span>Baby Food and Formula</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#health"></use></svg>
            <span>Health and Wellness</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#household"></use></svg>
            <span>Household Supplies</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#personal"></use></svg>
            <span>Personal Care</span>
          </a>
        </li>
        <li class="nav-item border-dashed">
          <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
            <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pet"></use></svg>
            <span>Pet Food and Supplies</span>
          </a>
        </li>
      </ul>
    
    </div>

  </div>

  <app-header></app-header>
  
  <app-background></app-background>

  <app-overflow></app-overflow>

  <app-pb5></app-pb5>


  <app-py3></app-py3>

  <app-featured></app-featured>

  <section>
    <div class="container-lg">

      <div class="bg-secondary text-light py-5 my-5" style="background: url('images/banner-newsletter.jpg') no-repeat; background-size: cover;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 p-3">
              <div class="section-header">
                <h2 class="section-title display-5 text-light">Get 25% Discount on your first purchase</h2>
              </div>
              <p>Just Sign Up & Register it now to become member.</p>
            </div>
            <div class="col-md-5 p-3">
              <form>
                <div class="mb-3">
                  <label for="name" class="form-label d-none">Name</label>
                  <input type="text"
                    class="form-control form-control-md rounded-0" name="name" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label d-none">Email</label>
                  <input type="email" class="form-control form-control-md rounded-0" name="email" id="email" placeholder="Email Address">
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-dark btn-md rounded-0">Submit</button>
                </div>
              </form>
              
            </div>
            
          </div>
          
        </div>
      </div>
      
    </div>
  </section>

  <app-popular></app-popular>

  <app-latest></app-latest>

  <app-latest-blog></app-latest-blog>


  <app-py4></app-py4>

  <section class="py-5">
    <div class="container-lg">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#package"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Free delivery</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#secure"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>100% secure payment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#quality"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Quality guarantee</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#savings"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>guaranteed savings</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#offers"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Daily offers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer-bottom></app-footer-bottom>
 