<input type="text" [(ngModel)]="value" style="margin-top: 10px;">
<button (click)="insert()" style="margin-left: 10px;">{{button}}</button>

<br><br>
<table>
  <tr *ngFor="let temp of arr;let i=index">
      <td>{{i+1}}</td>
      <td>{{temp}}</td>
      <td><button (click)="delete(i)">Delete</button></td>
      <td><button (click)="updatealert(i)">Edit</button></td>
  </tr>
</table>
<br><br>

Enter search value
<input type="text" [(ngModel)]="searchval">

<table *ngFor="let temp of search();let i=index">
  <tr border="1">
    <td>{{i+1}}</td>
    <td>{{temp}}</td>
  </tr>
</table>
