<div class="row">
  <div class="col" style="height: 75px; background-color: black; color: white;">
    Free css layout
  </div>
</div>
<div class="row">
  <div class="col-4"  style="height: 500px; background-color: red;">
    <div class="list-group" style="height: 500px;">
      <a href="" class="list-group-item list-group-item-action" aria-current="true">
      home
      </a>
      <a routerLink="about" class="list-group-item list-group-item-action">about</a>
      <a routerLink="contact" class="list-group-item list-group-item-action">contact</a>
    </div>
  </div>
  <div class="col-4" style="height: 500px;">
      <router-outlet></router-outlet>
  </div>
  <div class="col-4" style="background-color: yellowgreen;">

  </div>
</div>
<div class="row">
  <div class="col" style="height: 75px; color: white; background-color: black;">
    footer
  </div>
</div>